<head>
<title>Efficient Inventory Management | About us</title>
<meta name="description=" content="Efficient Inventory provides a tool for efficient inventory management to both physical and online stores. Subscribe for free !">
<%= csrf_meta_tag %>
</head>
<h1>About us</h1>
<p>Efficient Inventory provides a tool for efficient inventory management to both physical and online stores. Subscribe for free !  <button style="width:150px; height:50px; font-size:18px"> <%= link_to "Register", new_user_registration_path %></button><p></p>
<br/>
<p>This site was created by Fabien Lebas, suppy chain expert with a background of more than 10 years experience in supply chain management in a world leader retail chain. Fabien has designed both the stores and the e-commerce supply chain for a company of several billions of € turnover, in several hundreds of stores, more than 15 countries around the world, and the same number of websites.<p>
<p>Now this experience is given to you, for your stock management:<p>
<li>Save time: instant access to your best sellers, your shortages, your overstock, ...</li>
<li>Save money: with better visibility on your stock, you will be able to reduce it.</li>
<li>Up-to-date cloud technologies are now available for you: don't worry if you grow = our price will remain the same, and you have no limitation. Sky is the limit !</li>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39365733-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>