<head>
<%= csrf_meta_tag %>
<title>Efficient Inventory Management | Home</title>
<meta name="description=" content="Efficient Inventory provides a tool for efficient inventory management to both physical and online stores. Subscribe for free !">
<meta property="og:title" content="Efficient Inventory Management" />
<meta property="og:type" content="company" />
<meta property="og:url" content="http://www.efficient-inventory.com" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="" />
<meta property="fb:admins" content="1429490313" />
</head>
<body>
<div class="fb-like" data-href="http://www.efficient-inventory.com" data-send="true" data-width="450" data-show-faces="true"></div>
<br/>
<h1>Welcome to the world of stock inventory management !</h1>
<br/>
<h3>Here you will find all you need to:</h3>
<li><dd>Manage your inventory</li></dd>
<li><dd>Powerful reporting tools</li></dd>
<li><dd>Prepare your future orders to your suppliers</li></dd>
<li><dd>Manage your customer database</li></dd>
<li><dd>... and so much more !</li></dd>
<br/>

<h3>We are recruiting beta-testers:</h3> start using, and send us your remarks so that we can build your perfect tool. <button style="width:150px; height:50px; font-size:18px"> <%= link_to "Register", new_user_registration_path %></button><p>

<h3>With Efficient inventory management:</h3>
<li><dd>Save time: instant access to your best sellers, your shortages, your overstock, ...</li></dd>
<li><dd>Save money: with better visibility on your stock, you will be able to reduce it.</li></dd>
<li><dd>Up-to-date cloud technologies are now available for you: don't worry if you grow = our price will remain the same, and you have no limitation. Sky is the limit !</li></dd>

<table>
	<td><img src="/images/efficient_inventory_beta.jpg" width="125" height="125" align="middle"></td>
	<td><img src="/images/efficient_inventory_customer_satisfaction.jpg" width="125" height="125"></td>
	<td><img src="/images/efficient_inventory_growth.jpg" width="125" height="125"></td>	
</table>

<h3>Quick tour of our main functionalities:</h3>
<li><dd>Instant overview of your activity (turnover, quantities, stock value, ...):</li></dd>
<img src="/images/efficient_inventory_graph.jpg" style="border: solid black 1px; padding: 2 px" >
<p></p>
<li><dd>Save time, save customers with real-time analysis of your future shortages or overstock:</li></dd>
<img src="/images/efficient_inventory_articles.jpg" style="border: solid black 1px; padding: 2 px">
<p></p>
<li><dd>You need another report? ---> Export data to Excel! (and tell us to create a new report!)</li></dd>
<li><dd>You need to see what is currently in shortage? ---> Sort by stock quantity!</li></dd>
<li><dd>You have many article? ---> Classify by category!</li></dd>
<li><dd>You have a question? ---> Our commitment is to answer you within 24 hours!</li></dd>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39365733-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>



