<head>
<title>Efficient Inventory | Home</title>
<%= csrf_meta_tag %>

</head>
<body>
<h1>Welcome to the world of stock inventory management !</h1>

<p>Here you will find all you need to:</p>
<li>Manage your inventory</li>
<li>Powerful reporting tools</li>
<li>Prepare your future orders to your suppliers</li>
<li>Manage your customer database</li>
<li>... and so much more !</li>
<br/>

<p>We love our beta-testers : start using, and send us your remarks so that we can build your perfect tool. <button style="width:150px; height:50px; font-size:18px"> <%= link_to "Register", new_user_registration_path %></button><p>

<p>3 reasons to choose our tool:</p>
<li>99,95% guaranteed availability of our platform</li>
<li>No size limit for the tool (no max number of articles, ...)</li>
<li>We are the cheapest solution... from far ! Free right now, we will be far less expensive than our competitors after the beta period.</li>

<table>
	<td><img src="/images/efficient_inventory_beta.tiff" width="125" height="125" align="middle"></td>
	<td><img src="/images/efficient_inventory_customer_satisfaction.tiff" width="125" height="125"></td>
	<td><img src="/images/efficient_inventory_growth.tiff" width="125" height="125"></td>	
</table>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39365733-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>



