<head>
<title>Efficient Inventory | Home</title>
<%= csrf_meta_tag %>

</head>
<body>
<h1>Welcome to the world of stock inventory management !</h1>

<p>Here you will find all you need to:</p>
<li>manage your inventory</li>
<li>powerful reporting tools</li>
<li>prepare your future orders to your suppliers</li>
<li>manage your customer database</li>
<li>... and so much more !</li>
<br/>
<p>This site is under construction but you can already visit (and start using it !) it for free: <button style="width:150px; height:50px; font-size:18px"> <%= link_to "Register", new_user_registration_path %></button><p>
	
</body>

