<title>Efficient Inventory | How it works</title>
<body>
<h2>How it works</h2>
<br/>
<div class="home-page main">
	<section class="grid-wrap" >
		<header class="grid col-full">
			<hr>
		</header>
		<div class="grid col-one-half mq2-col-full">
			<h3>1- Understand your business</h3>
			<p>It can be difficult to know what your customers like or not.</p>
			<p><dd>Especially if you have tens, hundreds, or thousands of items.</p></dd>
			<p><dd>To make it even more difficult, seasons, fashion, weather, ... are influencing your sales.<p></dd>
			<br/>
			<h5>Efficient Inventory is here to help you: one click and you're done!</h5>
			<p><dd>Items can be sorted by best / worst sales: just click on the column name</p></dd>
			<p><dd>You have 3 dedicated reports: "Best sellers", "Slow movers", and "End of life" to identify quickly your customers needs</p></dd>
		</div>
		<div class="grid col-one-half mq2-col-full">
			<img src="/images/best_sellers.jpg">
		</div>
	</section>
	<section class="grid-wrap" >
		<div class="grid col-two-thirds mq2-col-full">
			<h5>Do you know who this guy is?</h5>
			<p><dd>Vilfredo Pareto, economist of the 19th century.</p></dd>
			<p><dd>Let's avoid the mathematical part, and be straight to the point. He demonstrated that in every economic activity you have:</dd></p>
			<p>Best sellers:</p>
			<li><dd>5% of your articles making 40% of your turnover</li></dd>
			<li><dd>20% of your items making 80% of your turnover</li></dd>
			<br/>
			<p>Slow movers:</p>
			<li><dd>80% of your items making only 20% of your turnover</li></dd>
			<li><dd>40% of your turnover making only 5% of your turnover</li></dd>
			<br/>
			<p>In Efficient Inventory, we are using these results to show you these categories, so that you know in real time and for every article, in which category it is.</p>
		</div>
		<div class="grid col-one-third mq2-col-full">
			<img src="/images/vilfredo_pareto.jpg">
		</div>
	</section>	
</div>

<div class="home-page main">
	<section class="grid-wrap" >
		<header class="grid col-full">
			<hr>
		</header>
		<div class="grid col-one-half mq2-col-full">
			<h3>2- Anticipate</h3>
			<h5>It is key for your success to detect your best sellers and your future shortages quicker than your competitors.</h5>
			<br/>
			<p>Efficient Inventory does all the calculations for you.</p>
			<p>Of course, you are the captain of the boat, so you always decide what you order or not.</p>
			<p>With the average sales calculated, and the orders sent to your suppliers, we have all we need to calculate:</p>
			<dd><li>How much you should re-order and when.</li></dd>
			<dd><li>If you are going to have too much stock.</li></dd>
			<dd><li>If you already have outdated stock.</li></dd>
			
		</div>
		<div class="grid col-one-half mq2-col-full">
			<img src="/images/efficient_inventory_article_view.jpg">
		</div>
	</section>
</div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39387548-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>

</body>