<title>Efficient Inventory | How it works</title>
<body>
<h2>How it works</h2><p>This section is still under construction: articles will appear in the coming days</p>
<article id="navtabs" class="grid col-full">
	<ul class="tabs clearfix">
	    <li><%= link_to "Understand your business", pages_howitworksbusiness_path %></li>
	    <li><%= link_to "Anticipate", pages_howitworksanticipate_path %></li>
	</ul>
</article>
<br/>

<div class="home-page main">
	<section class="grid-wrap" >
		<header class="grid col-full">
			<hr>
		</header>
		<div class="grid col-one-half mq2-col-full">
			<h3>Anticipate</h3>
			<h5>It is key for your success to detect your best sellers and your future shortages quicker than your competitors.</h5>
			<br/>
			<p>Efficient Inventory does all the calculations for you.</p>
			<p>Of course, you are the captain of the boat, so you always decide what you order or not.</p>
			<p>With the average sales calculated, and the orders sent to your suppliers, we have all we need to calculate:</p>
			<dd><li>How much you should re-order and when.</li></dd>
			<dd><li>If you are going to have too much stock.</li></dd>
			<dd><li>If you already have outdated stock.</li></dd>
			
		</div>
		<div class="grid col-one-half mq2-col-full">
			<img src="/images/efficient_inventory_article_view.jpg">
		</div>
	</section>
</div>

<div class="home-page main">
	<section class="grid-wrap" >
		<div class="grid col-one-half mq2-col-full">
			<img src="/images/schema_appro.jpg">
		</div>
		<div class="grid col-one-half mq2-col-full">
			<h5>This is how Efficient-Inventory works.</h5>
			<br/>
			<p>Efficient Inventory does all the calculations for you.</p>
			<p>Imagine if you are doing your inventory management manually or with Excel.</p>
			<p>You have to calculate every day, for each of your articles:</p>
			<dd><li>The re-order point.</li></dd>
			<dd><li>The security level.</li></dd>
			<dd><li>And the best order quantity.</li></dd>
			<br/>
			<p>I hope you like calculations!</p>	
		</div>
	</section>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39387548-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>

</body>