<title>Efficient Inventory | <%= t "activerecord.attributes.subscriptions.new"%></title>
<hr>
<h2><%= t "activerecord.attributes.subscriptions.new"%></h2>

<%= render 'form' %>
<br/>
<%= link_to t("actions.back"), subscriptions_path %>
