<footer>
  <nav class="round">
    <ul>
		<li><div class="fb-like" data-href="http://www.efficient-inventory.com" data-send="false" data-width="200" data-show-faces="false" data-layout="button-count"></div>
		</li>
	  <li><%= link_to t(".home"), root_path %></li>
      <li><%= link_to t(".about"), pages_about_path %></li>
    </ul>
  </nav>
</footer>