<footer>
  <nav class="round">
    <ul>
		<li><p style="font-size:11px";><%= t "actions.rights_reserved"%>
		<li><p style="font-size:11px";>contact@efficient-inventory.com<br/>
			SIRET : 792 195 620 00010</p>
			</li>
		<li><p style="font-size:11px";>Efficient Inventory<br/>
			A3 résidence Giverny<br/>
			1 boulevard de Douai<br/>
			59100 Roubaix<br/>
			France</p>
			</li>
		<li><a href= "https://twitter.com/Eff_Inventory" target="_blank"><img src="/images/logo_twitter.jpg"></a></li>		
		<li><a href= "https://www.facebook.com/EfficientInventory" target="_blank"><img src="/images/logo_facebook.jpg"></a></li>
		<li><div class="fb-like" data-href="http://www.efficient-inventory.com" data-send="false" data-width="200" data-show-faces="false" data-layout="button-count"></div>
		</li>
	  	<li><%= link_to t(".home"), root_path %></li>
      	<li><%= link_to t(".about"), pages_about_path %></li>
    </ul>
  </nav>
</footer>